* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background: #8cc461;
  --color-black: #252525;
  --color-white: #ffffff;
  --alert-background: linear-gradient(0deg, #004429, #004429);
  --text-color: #656565;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  background: var(--background);
  position: fixed;
  font-family: system-ui;
}

.score-con {
  max-width: 100%;
  width: 700px;
  border: 5px solid white;
  margin-top: 3rem;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 23px 35px;
  color: white;
  min-height: 28vh;
}

.logo {
  font-size: 30px;
}

.score1 {
  height: 92%;
  width: 22%;
  padding: 10px 18px;
  background: #eee;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 20px;
  border-radius: 5px;
  font-weight: 600;
}

.score2 {
  height: 92%;
  width: 22%;
  padding: 10px 18px;
  background: #eee;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 20px;
  border-radius: 5px;
  font-weight: 600;
}

.score1 span {
  font-size: 40px;
}
.score2 span {
  font-size: 40px;
}

.game-con {
  width: 100%;
  min-height: 69vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.info {
  width: 700px;
  min-height: 9vh;
  font-size: 1.2rem;
  margin: 1rem 0 0 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
}

.option {
  max-width: 100%;
  width: 700px;
  min-height: 49vh;
  display: grid;
  place-content: center;
  position: relative;
}

.con {
  position: absolute;
  width: 110px;
  height: 110px;
  border-radius: 50%;
  padding: 18px;
  cursor: pointer;
}
.computer {
  position: absolute;
  width: 110px;
  height: 110px;
  border-radius: 50%;
  padding: 18px;
  display: none;
}
.rock-con {
  background: linear-gradient(hsl(230, 89%, 62%), hsl(230, 89%, 65%));
  left: 10rem;
  top: 0%;
}
.sci-con {
  background: linear-gradient(hsl(218, 51%, 39%), hsl(230, 48%, 30%));
  right: 10rem;
  top: 0%;
}
.paper-con {
  background: linear-gradient(hsl(39, 89%, 49%), hsl(40, 84%, 53%));
  left: 18rem;
  top: 58%;
}
.item {
  background: #eee;
  height: 100%;
  border-radius: 100%;
  display: grid;
  place-content: center;
}
.user,
.machine {
  opacity: 0;
}
.machine{
  padding-left: 150px;
}
.user{
  padding-left: 50px;
}
.btn-div {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 0 2rem 1rem 0;
}
 .btn-rule {
  padding: 10px 30px;
  border: 2px solid #ffffff;
  border-radius: 8px;
  outline: none;
  background: transparent;
  color: white;
  font-size: 18px;
  letter-spacing: 3px;
  cursor: pointer;
}

.rule-modal {
  position: fixed;
  width: 62%;
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
  display: none;
  top: 310px;
  left: 550px;
}
.rule-img{
  transform: translateY(-1%);
  transition: all 0.4s ease;
}

.rule-img div {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.close {
  cursor: pointer;
  background: linear-gradient(hsl(218, 51%, 39%), hsl(230, 48%, 30%));
  border-radius: 100%;
  width: 17%;
  background: #ff0000;
  border: 5px solid #ffffff;
}
.rule{
  /* margin: 1rem 2rem 0 2rem; */
}
.win-modal{
position: fixed;
width: 100%;
height: 100vh;
display: grid;
align-items: center;
text-align: center;
place-content: center;
top: 0;
color: white;
display: none;
}
.winner,
.play{
  z-index: 1;
}
.p{
  padding-bottom: 2rem;
  font-size: 18px;
  font-weight: 600;
}
.play{
  background-color:white;
  color: black;
  border-radius: 7px;
  padding: 9px;
  text-align: center;
  align-items: center;
  font-size: 18px;
  font-weight: 500;
  outline: none;
  cursor: pointer;
}
.show{
  left: 7rem;
  top: 6%;
}
.right{
  left: 31.5rem;
  top: 6%;
}
